.div-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  grid-template-areas:
  "one two two"
  "three four four"
  "five six six";
}

.one{
  grid-area: one;
  border: 0.5px solid black;
}

.two{
  grid-area: two;
  border: 0.5px solid black;
}

.three{
  grid-area: three;
  border: 0.5px solid black;
}

.four{
  grid-area: four;
  border: 0.5px solid black;
}

.five{
  grid-area: five;
  border: 0.5px solid black;
}

.six{
  grid-area: six;
  border: 0.5px solid black;
}
